/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.wrap{
    margin-top: 65px;
}

/*body{
    margin-bottom: 50px !important;
}

html{
    position:relative;
    min-height: 100%;
}

footer{
    position:absolute;
    bottom: 0;
    height: 50px;
    padding-left: 100px;
    background-color: #e7e7e7;
    width: 100%;
    padding-top: 15px;
}

.navbar-default{
    padding-left: 15vw;
    padding-right: 5vw;
}

#my-nav-title{
    font-size: 1.8em;
    margin-top: 2vh;
}
.glyphicon-home{
    font-size: 1.8em;
    margin-top: 2vh;
    color: #777777;
}

#navbar-main{
    padding-left: 40vw ;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    !* Margin bottom by footer height *!
    margin-bottom: 60px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    !* Set the fixed height of the footer here *!
    height: 60px;
    background-color: #f5f5f5;
}*/

